<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.curs.ru/authserver config.xsd" xmlns="http://www.curs.ru/authserver">


		
	<common>
		<threadcount>1</threadcount>
<!--  	
	
        <sessiontimeout>1440</sessiontimeout>
-->        
        
		<authsessions initialCapacity="10000" loadFactor="80" concurrencyLevel="128"/>
		<appsessions initialCapacity="10000" loadFactor="80" concurrencyLevel="128"/>
	
	
 	    <lockouttime>1</lockouttime>
	    
	    <setsettingstoken>43c42c2ee9210b0a77166a37f82bb4b6</setsettingstoken>
	    
	    <showtimetounlockuser>true</showtimetounlockuser>	    

		
	</common>
	
	
<!--
-->
	
	<xmlfile>
	    <id>test2</id>	
		<logging>true</logging>
		<url>
		D:/workspace/mellophone-maven/src/main/resources/config/samples/users.xml
		</url>
		<trusteduser>Иванов1</trusteduser>
	</xmlfile>
	


<!--
-->

	<sqlserver>
	    <id>test</id>
 		<logging>true</logging>
		<url>jdbc:sqlserver://BORIS2\\SQL8R2_RUS_TEST2:1145;databaseName=showcase</url>
		<connectionusername>sa</connectionusername>
		<connectionpassword>F708420Dx</connectionpassword>
		<table>Пользователи</table>
		<fieldlogin>Логин</fieldlogin>
		<fieldpassword>Пароль</fieldpassword>
		<fieldblocked>Заблокированный</fieldblocked>
		<hashalgorithm>SHA-256</hashalgorithm>
		<localsecuritysalt>0763bdd890421f02bba7bfe8b456c69f</localsecuritysalt>
		
		<trusteduser>Иванов1</trusteduser>
		<trusteduser>Петров1</trusteduser>
		
		<proccheckuser>checkUserIP</proccheckuser>
		<searchreturningattributes
		  SID="Поле objectSid"		
		  login="Логин" 
		  name="Поле name"
		  email="Поле email"
		  phone="Поле phone"	
		  organization = "" 
		  fax = "Поле fax"	  
		/>
	</sqlserver>
	
	


<!--

	<sqlserver>
		<logging>true</logging>
		<url>jdbc:postgresql://localhost:5432/postgres</url>
		<connectionusername>postgres</connectionusername>
		<connectionpassword>F708420Dx</connectionpassword>
		<table>Пользователи</table>
		<fieldlogin>Логин</fieldlogin>
		<fieldpassword>Пароль</fieldpassword>
		<fieldblocked>Заблокированный</fieldblocked>		
		<searchreturningattributes
		  SID="Поле objectSid"		
		  login="Логин" 
		  name="Поле name"
		  email="Поле email"
		  phone="Поле phone"	
		  organization = "" 
		  fax = "Поле fax"	  
		/>
	</sqlserver>
-->










			

	
	
<!--
		<url>http://share.kurs-it.ru:8080/</url>
		<url>http://localhost:8082/mellophone/</url>
--> 	

<!--
	<iasbpserver>
		<logging>true</logging>	
		<url>http://share.kurs-it.ru:8080/</url>
	</iasbpserver>
-->	
	
	
	
	


<!--


	<sqlserver>
		<logging>true</logging>
		<url>jdbc:sqlserver://BORIS2\\SQL8R2_RUS_TEST2:1145;databaseName=showcase</url>
		<connectionusername>sa</connectionusername>
		<connectionpassword>F708420Dx</connectionpassword>
		<table>Пользователи</table>
		<fieldlogin>Логин</fieldlogin>
		<fieldpassword>Пароль</fieldpassword>
		<proccheckuser>checkUserIP</proccheckuser>
		<searchreturningattributes
		  SID="Поле objectSid"		
		  login="Логин" 
		  name="Поле name"
		  email="Поле email"
		  phone="Поле phone"	
		  organization = "" 
		  fax = "Поле fax"	  
		/>
	</sqlserver>

	
	
	<ldapserver>
	    <group_providers>Группа1</group_providers>
	    <domain_name>Office</domain_name> 
		<logging>false</logging>	
		<servertype>MSActiveDirectory</servertype>		
		<url>ldap://server:389</url>
		<usessl>false</usessl>
		<sat>Simple</sat>
		<searchbase>CN=Builtin,DC=curs,DC=ru</searchbase>
		<searchbase>CN=Users,DC=curs,DC=ru</searchbase>
		<searchbase>OU=Office,DC=curs,DC=ru</searchbase>
		<searchreturningattributes
		  SID="objectSid"		
		  login="sAMAccountName" 
		  name="name"
		  email="targetAddress"
		  phone="telephoneNumber"	
		  organization = "" 
		  fax = ""	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
		</searchfilterforimport>
	</ldapserver>


	<ldapserver>
		<group_providers>Группа2</group_providers>
		<logging>false</logging>	
		<servertype>MSActiveDirectory</servertype>		
		<url>ldap://server2:389</url>
		<usessl>false</usessl>
		<sat>DIGEST_MD5</sat>
		<searchbase>CN=Builtin,DC=curs,DC=ru</searchbase>
		<searchbase>CN=Users,DC=curs,DC=ru</searchbase>
		<searchbase>OU=Office,DC=curs,DC=ru</searchbase>
		<searchreturningattributes
		  SID="objectSid"		
		  login="sAMAccountName" 
		  name="name"
		  email="targetAddress"
		  phone="telephoneNumber"	
		  organization = "" 
		  fax = ""	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
		</searchfilterforimport>
	</ldapserver>



	<ldapserver>
		<group_providers>Группа1</group_providers>	
	    <domain_name>openbank3</domain_name> 	
		<logging>false</logging>	
		<servertype>MSActiveDirectory</servertype>		
		<url>ldap://server3:389</url>
		<usessl>false</usessl>
		<sat>DIGEST_MD5</sat>
		<searchbase>CN=Builtin,DC=curs,DC=ru</searchbase>
		<searchbase>CN=Users,DC=curs,DC=ru</searchbase>
		<searchbase>OU=Office,DC=curs,DC=ru</searchbase>
		<searchreturningattributes
		  SID="objectSid"		
		  login="sAMAccountName" 
		  name="name"
		  email="targetAddress"
		  phone="telephoneNumber"	
		  organization = "" 
		  fax = ""	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
		</searchfilterforimport>
	</ldapserver>


	<ldapserver>
		<group_providers>Группа2</group_providers>	
	    <domain_name></domain_name> 	
		<logging>false</logging>	
		<servertype>MSActiveDirectory</servertype>		
		<url>ldap://server5:389</url>
		<usessl>false</usessl>
		<sat>DIGEST_MD5</sat>
		<searchbase>CN=Builtin,DC=curs,DC=ru</searchbase>
		<searchbase>CN=Users,DC=curs,DC=ru</searchbase>
		<searchbase>OU=Office,DC=curs,DC=ru</searchbase>
		<searchreturningattributes
		  SID="objectSid"		
		  login="sAMAccountName" 
		  name="name"
		  email="targetAddress"
		  phone="telephoneNumber"	
		  organization = "" 
		  fax = ""	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
		</searchfilterforimport>
	</ldapserver>



	<ldapserver>
	    <domain_name>openbank4</domain_name> 	
		<logging>false</logging>	
		<servertype>MSActiveDirectory</servertype>		
		<url>ldap://server4:389</url>
		<usessl>false</usessl>
		<sat>DIGEST_MD5</sat>
		<searchbase>CN=Builtin,DC=curs,DC=ru</searchbase>
		<searchbase>CN=Users,DC=curs,DC=ru</searchbase>
		<searchbase>OU=Office,DC=curs,DC=ru</searchbase>
		<searchreturningattributes
		  SID="objectSid"		
		  login="sAMAccountName" 
		  name="name"
		  email="targetAddress"
		  phone="telephoneNumber"	
		  organization = "" 
		  fax = ""	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
		</searchfilterforimport>
	</ldapserver>



	


    sessiontimeout - время актуальности сессии, задается в минутах 


	Для xmlfile в url может быть либо абсолютный путь, либо относительный (относительно 
	директории установки Томката (чтобы можно было вносить правки 
	в users.xml без перезагрузки Томката)) 

	
	
	<xmlfile>
		<logging>true</logging>
		<url>
		D:/workspace/AuthServer/WebContent/WEB-INF/classes/config/samples/users.xml
		</url>
	</xmlfile>
	

	
	<ldapserver>
		<logging>false</logging>
		<servertype>ApacheDS</servertype>		
		<url>ldap://localhost:10389</url>
		<usessl>false</usessl>
		<sat>Simple</sat>
		<searchbase>ou=users,ou=system</searchbase>
		<searchreturningattributes
		  SID="entryUUID"
		  login="uid"
		  name="cn"
		  email="mail"
		  phone="homePhone"
		  organization = "o"
		  fax = "facsimileTelephoneNumber"	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectClass=inetOrgPerson)(uid=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectClass=inetOrgPerson))
		</searchfilterforimport>
	</ldapserver>
	
	<ldapserver>
	
	    <domain_name>openbank</domain_name> 
		<logging>false</logging>	
		<servertype>MSActiveDirectory</servertype>		
		<url>ldap://server:389</url>
		<usessl>false</usessl>
		<sat>DIGEST_MD5</sat>
		<searchbase>CN=Builtin,DC=curs,DC=ru</searchbase>
		<searchbase>CN=Users,DC=curs,DC=ru</searchbase>
		<searchbase>OU=Office,DC=curs,DC=ru</searchbase>
		<searchreturningattributes
		  SID="objectSid"		
		  login="sAMAccountName" 
		  name="name"
		  email="targetAddress"
		  phone="telephoneNumber"	
		  organization = "" 
		  fax = ""	  
		/>		
		<searchfilterforuser>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName=%s))
  	    </searchfilterforuser>
		<searchfilterforimport>
		  (&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
		</searchfilterforimport>
	</ldapserver>
	
	<httpserver>
		<logging>true</logging>	
		<url>http://info.ondp2012.ru/security/</url>
		<validateuser>ValidateUser</validateuser>		
		<userinfobyname>User/%s</userinfobyname>
		<userinfobyid>User/Id/%s</userinfobyid>
	</httpserver>



	<sqlserver>
		<logging>true</logging>
		<url>jdbc:sqlserver://BORIS2\\SQL8R2_RUS_TEST2:1145;databaseName=showcase</url>
		<connectionusername>sa</connectionusername>
		<connectionpassword>F708420Dx</connectionpassword>
		<table>Пользователи</table>
		<fieldlogin>Логин</fieldlogin>
		<fieldpassword>Пароль</fieldpassword>
		<searchreturningattributes
		  SID="Поле objectSid"		
		  login="Логин" 
		  name="Поле name"
		  email="Поле email"
		  phone="Поле phone"	
		  organization = "" 
		  fax = "Поле fax"	  
		/>
	</sqlserver>
	
	<sqlserver>
		<logging>true</logging>
		<url>jdbc:postgresql://localhost:5432/test_db</url>
		<connectionusername>postgres</connectionusername>
		<connectionpassword>F708420Dx</connectionpassword>
		<table>Пользователи</table>
		<fieldlogin>Логин</fieldlogin>
		<fieldpassword>Пароль</fieldpassword>
		<searchreturningattributes
		  SID="Поле objectSid"		
		  login="Логин" 
		  name="Поле name"
		  email="Поле email"
		  phone="Поле phone"	
		  organization = "" 
		  fax = "Поле fax"	  
		/>
	</sqlserver>
	
	<sqlserver>
		<logging>true</logging>
		<url>jdbc:oracle:thin:@localhost:1521:orcl</url>
		<connectionusername>CARTRADE</connectionusername>
		<connectionpassword>F708420Dx</connectionpassword>
		<table>ПОЛЬЗОВАТЕЛИ</table>
		<fieldlogin>Логин</fieldlogin>
		<fieldpassword>Пароль</fieldpassword>
		<searchreturningattributes
		  SID="Поле objectSid"		
		  login="Логин" 
		  name="Поле name"
		  email="Поле email"
		  phone="Поле phone"	
		  organization = "" 
		  fax = "Поле fax"	  
		/>
	</sqlserver>

-->
	
</config>










